In [1]:
import numpy as np
import pandas as pd
#1 Find the top 10 highest grossing Disney movies by world sales
data = pd.read_csv("Highest Holywood Grossing Movies.csv", skiprows=4)

walt_disney = pd.series(data=data["Distributor"].values, index ="Walt Di")
print(data)

       3                Black Panther (2018)  \
0      4       Avengers: Infinity War (2018)
1      5      Spider-Man: No Way Home (2021)
2      6                      Titanic (1997)
3      7               Jurassic World (2015)
4      8                 The Avengers (2012)
..   ...                                 ...
909  913                 The Notebook (2004)
910  914    Jimmy Neutron: Boy Genius (2001)
911  915                Eat Pray Love (2010)
912  916  The Texas Chainsaw Massacre (2003)
913  917                    Zookeeper (2011)

    T'Challa, heir to the hidden but advanced kingdom of Wakanda, must step forward to lead his people into a new future and must confront a challenger from his country's past.  \
0    The Avengers and their allies must be willing ...
1    With Spider-Man's identity now revealed, Peter...
2    A seventeen-year-old aristocrat falls in love ...
3    A new theme park, built on the original site o...
4    Earth's mightiest heroes must come together an...
..                                                 ...
909  A poor yet passionate young man falls in love ...
910  An eight-year-old boy genius and his friends m...
911  A married woman realizes how unhappy her marri...
912  After picking up a traumatized young hitchhike...
913  A group of zoo animals decide to break their c...

     Walt Disney Studios Motion Pictures                 NA  700426566  \
0    Walt Disney Studios Motion Pictures                NaN  678815482
1      Sony Pictures Entertainment (SPE)                NaN  675813257
2                     Paramount Pictures  December 19, 1997  659363944
3                     Universal Pictures      June 10, 2015  652385625
4    Walt Disney Studios Motion Pictures     April 25, 2012  623357910
..                                   ...                ...        ...
909                      New Line Cinema      June 25, 2004   81001787
910                   Paramount Pictures  December 21, 2001   80936232
911    Sony Pictures Entertainment (SPE)    August 13, 2010   80574010
912                      New Line Cinema   October 17, 2003   80571655
913    Sony Pictures Entertainment (SPE)       July 6, 2011   80360843

      647171407  1347597973  \
0    1369544272  2048359754
1     868642706  1544455963
2    1542283320  2201647264
3    1018130819  1670516444
4     895457605  1518815515
..          ...         ...
909    36813370   117815157
910    22056304   102992536
911   124020006   204594016
912    26792250   107363905
913    89491916   169852759

                     ['Action', 'Adventure', 'Sci-Fi']  2 hr 14 min   NA.1
0                    ['Action', 'Adventure', 'Sci-Fi']  2 hr 29 min    NaN
1         ['Action', 'Adventure', 'Fantasy', 'Sci-Fi']  2 hr 28 min    NaN
2                                 ['Drama', 'Romance']  3 hr 14 min  PG-13
3                    ['Action', 'Adventure', 'Sci-Fi']   2 hr 4 min  PG-13
4                    ['Action', 'Adventure', 'Sci-Fi']  2 hr 23 min  PG-13
..                                                 ...          ...    ...
909                               ['Drama', 'Romance']   2 hr 3 min  PG-13
910  ['Action', 'Adventure', 'Animation', 'Comedy',...  1 hr 22 min    NaN
911                  ['Biography', 'Drama', 'Romance']  2 hr 13 min  PG-13
912                                ['Crime', 'Horror']  1 hr 38 min      R
913         ['Comedy', 'Family', 'Fantasy', 'Romance']  1 hr 42 min     PG

[914 rows x 11 columns]